<h1> Web Page About Me - Amari Mehta</h1>
<h2>About Me</h2>
<!-- About Me section -->
<p> Hi! My name is Amari Mehta, and I am a Senior at the <strong>University of Maryland</strong> studying Finance and Information Systems.
I am from Ellicott City, Maryland and live in The Standard on campus. I really enjoy being in the Smith school and am in various extracurriculars
on campus such as <strong>DSAC, Snider, QUEST</strong>, and more! My family is from Chicago and I hope to one day move there. I also generally like Chicago sports teams
and visiting the city. </p>
<h2>My Hobbies</h2>
<p> In my free time, I love to <em> bake, hangout with family and friends, watercolor,
and play with my dog, Cali </em>. Recently I baked chocolate, almond, and orange biscotti, and I plan on making an Apple Pie
next. My dog is a <em>mini bernedoodle</em> and she is 6 years old. I also recently got into
watercoloring and have been painting birthday cards. I hope to read more as well, and just finished the book Sapiens.  </p>
<h2>My Future Timeline</h2>
<ol>
    <li>Travel to India over winter break</li>
    <li>Graduate from the University of Maryland</li>
    <li>Work at JPMorgan in Delaware for 2 years</li>
    <li>Move to Chicago and continue working</li>
</ol>
<h2>Other Hobbies</h2>
<!-- List of other hobbies -->
<ul>
    <li>Playing soccer</li>
    <li>Hiking</li>
    <li>Volunteering</li>
    <li>Cooking</li>
</ul>
<h2>Past Courses</h2>

<table border="1">
    <tr>
        <th>Course</th>
        <th>Semester</th>
    </tr>
    <tr>
        <td>BMGT343</td>
        <td>Fall 2025</td>
    </tr>
    <tr>
        <td>BMGT403</td>
        <td>Fall 2025</td>
    </tr>
    <tr>
        <td>BMGT495</td>
        <td>Spring 2026</td>
    </tr>
</table>

<h2>Links</h2>

<p>
    <a href="/hello">Visit my Hello page</a>
</p>

<h2>Favorite Websites</h2>
<!-- Favorite websites -->

<p>
    <a href="https://www.traderjoes.com/home/products/category/products-2?filters=%7B%22areNewProducts%22%3Atrue%7D">
        Trader Joe's New Products
    </a>
</p>

<p>
    <a href="https://www.target.com/" target="_blank">
        Target
    </a>
</p>

<h2>Robert H. Smith School of Business</h2>

<img
    src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
    alt="Robert H. Smith School of Business Logo"
    width="300"
    height="100"
>
